@media only screen and (min-width:1001px) and (max-width:1123px) {
    .phoneBook-container {
        font-size: 0.8em;
    }

    .input {
        padding: 0.5em 1em;
    }

    /* .phoneBook-contactinfo__error {
        background-color: var(--red);
        padding: 0.5em;
        color: whitesmoke;
        width: 70%;
        position: absolute;
        top: 0;
        left: 10;
        visibility: hidden;
    } */
}

@media only screen and (min-width:967px) and (max-width:1001px) {
    .phoneBook-container {
        font-size: 0.8em;
    }

    .input {
        padding: 0.4em 0.7em;
    }

    .btn-style {
        padding: 0.3em;
        background-color: tomato;
    }

    .phoneBook-contactinfo__error {
        background-color: var(--red);
        padding: 0.5em;
        color: whitesmoke;
        width: 50%;
        position: absolute;
        top: 35;
        left: 50;
        visibility: hidden;
    }
}

@media only screen and (min-width:772px) and (max-width:967px) {
    .phoneBook-container {
        font-size: 0.8em;
    }

    .input {
        padding: 0.4em 0.7em;
    }

    .btn-style {
        padding: 0.3em;
        background-color: tomato;
    }

    .phoneBook-contactinfo__error {
        background-color: var(--red);
        padding: 0.5em;
        color: whitesmoke;
        width: 70%;
        position: absolute;
        top: 45;
        left: 20;
        visibility: hidden;
    }
}

@media only screen and (min-width:564px) and (max-width:772px) {
    .phoneBook-search {
        flex-direction: column;
        font-size: 0.6em;

    }

    #phoneBookLablenumberOfcontac {
        width: 50%;
    }

    .phoneBook-info {
        font-size: 0.7em;
    }

    .phoneBook-contactinfo {
        flex-direction: column;
    }

    .phoneBook-contactinfo__error {
        background-color: var(--red);
        padding: 0.5em;
        color: whitesmoke;
        width: 30%;
        position: absolute;
        top: 30;
        left: 20;
        visibility: hidden;
    }

    .phoneBook-contactinfo__btn-style {
        padding: 0.5em;
        width: 30%;
    }

    .input {
        padding: 0.5em 1.5em;
        border-radius: 0.5em;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width:425px) and (max-width:564px) {
    .phoneBook-search {
        flex-direction: column;
        font-size: 0.6em;
    }

    .phoneBook-search__numberOfContact--input {
        padding: 0.5em;
        background-color: tomato;
    }

    #phoneBookLablenumberOfcontac {
        width: 50%;
    }

    .phoneBook-info {
        font-size: 0.7em;
    }

    .phoneBook-contactinfo {
        flex-direction: column;
    }

    .phoneBook-contactinfo__error {
        background-color: var(--red);
        padding: 0.5em;
        color: whitesmoke;
        width: 70%;
        position: absolute;
        top: 30;
        left: 20;
        visibility: hidden;
    }

    .phoneBook-contactinfo__btn-style {
        padding: 0.5em;
        width: 30%;
    }

    .input {
        padding: 0.5em 1.5em;
        border-radius: 0.5em;
        margin-bottom: 30px;
    }

    .phoneBook-info__container {
        font-size: 0.7em;
    }

    .td {
        padding: 1em 0.5em;
        width: 25%;
        border-bottom: 1px solid var(--red);
        color: var(--red);
    }
}

@media only screen and (min-width:320px) and (max-width:425px) {
    .phoneBook-search {
        flex-direction: column;
        font-size: 0.6em;
    }

    .phoneBook-search__numberOfContact--input {
        padding: 0.5em;
        background-color: tomato;
    }

    #phoneBookLablenumberOfcontac {
        width: 50%;
    }

    .phoneBook-info {
        font-size: 0.7em;
    }

    .phoneBook-contactinfo {
        flex-direction: column;
    }

    .phoneBook-contactinfo__error {
        background-color: var(--red);
        padding: 0.5em;
        color: whitesmoke;
        width: 70%;
        position: absolute;
        top: 30;
        left: 20;
        visibility: hidden;
    }

    .phoneBook-contactinfo__btn-style {
        padding: 0.5em;
        width: 30%;
    }

    .input {
        padding: 0.5em 1.5em;
        border-radius: 0.5em;
        margin-bottom: 30px;
    }

    .phoneBook-info__container {
        font-size: 0.5em;
    }

    .phoneBook-info {
        font-size: 0.7em;
    }

    .td {
        padding: 1em 0.5em;
        width: 25%;
        border-bottom: 1px solid var(--red);
        color: var(--red);
    }
}